* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #3f3d56;
  margin-top: 80px;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button,
.button-secondary-blue,
.button-primary-blue {
  display: inline-block;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0 10px;
  width: max-content;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  border: none;
  outline: none;
}
.button:hover,
.button-secondary-blue:hover,
.button-primary-blue:hover {
  box-shadow: none;
  color: #ffffff;
}

.button-border {
  background: transparent !important;
}

.button-primary-blue {
  color: #ffffff;
  background-color: #3f3d56;
  box-shadow: -1px 4px 9px 0px rgba(242, 121, 51, 0.2);
}

.button-secondary-blue {
  color: #ffffff;
  background-color: #ff9d00;
  box-shadow: -1px 4px 9px 0px rgba(255, 162, 108, 0.2);
}
.button-secondary-blue.button-border {
  color: #ff9d00;
  border: 1px solid #ff9d00;
}

.badge-danger {
  color: #d83d3d;
  background: rgba(216, 61, 61, 0.1);
}

.ads__banner {
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.ads__banner img {
  object-fit: cover;
}
.ads__banner.banner__h400 {
  height: 400px;
}
.ads__banner.banner__h400 img {
  width: 100%;
  height: 400px;
}

.section__head,
.section__head-sm,
.section__head-xl {
  font-size: 28px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 15px;
  width: max-content;
  font-weight: bold;
  text-transform: capitalize;
}

.section__head::after,
.section__head-sm::after,
.section__head-xl::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ff9d00;
  height: 3px;
  width: 70%;
}
.section__head-xl {
  font-size: 40px;
}

.swiper__container {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
}

.swiper__navigation {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.swiper__navigation .prev,
.swiper__navigation .next {
  background-color: #3f3d56;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border-radius: 3px;
}
.swiper__navigation .prev:hover,
.swiper__navigation .next:hover {
  background-color: #ff9d00;
}

.swiper__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.swiper__pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ff9d00;
}

input,
select {
  height: 50px;
}

input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
  border-radius: 5px;
  display: block;
  padding: 10px;
  background-color: rgba(255, 157, 0, 0.05);
}
input::placeholder,
select::placeholder,
textarea::placeholder {
  text-transform: capitalize;
}

input[type="file"] {
  display: none;
}

.card__product {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 6px 0 rgba(34, 34, 34, 0.1);
  display: block;
  text-decoration: none;
}
.card__product .add__to__fav {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #f1f1f1;
  font-size: 22px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  z-index: 1;
}
.card__product .add__to__fav:hover,
.card__product .add__to__fav.active {
  color: #ffd727;
}
.card__product .product__img {
  width: 100%;
  object-fit: cover;
  transition: 0.4s ease-in-out;
}
.card__product:hover .product__info {
  bottom: 0;
}
.card__product:hover .product__img {
  transform: scale(1.2);
}
.card__product .product__info {
  position: absolute;
  bottom: -33px;
  left: 0;
  width: 100%;
  padding: 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.4s ease-in-out;
  height: 100px;
}
.card__product .product__info .main__info {
  display: flex;
  justify-content: space-between;
}
.card__product .product__info .main__info .title__category span {
  display: block;
}
.card__product .product__info .main__info .title__category .title {
  font-size: 18px;
  color: #3f3d56;
}
.card__product .product__info .main__info .title__category .category {
  color: #3f3d56;
  font-size: 14px;
  margin-top: -5px;
}
.card__product .product__info .main__info .price {
  color: #ffffff;
  background-color: #ff9d00;
  width: max-content;
  height: max-content;
  padding: 3px 5px;
  font-size: 15px;
  border-radius: 3px;
}
.card__product .product__info .main__info .price .currency {
  font-size: 11px;
}
.card__product .product__info .date__location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
  color: rgba(34, 34, 34, 0.5);
}

.home__slider {
  width: 100%;
}

.home__slider img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #3f3d56;
}

.swiper-button-next {
  right: 40px;
}

.swiper-button-prev {
  left: 40px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 70px;
}

.home__slider-pagination {
  position: absolute;
  bottom: 25px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.home__slider-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #3f3d56;
}

.products__section .filter__content {
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 6px 0 rgba(34, 34, 34, 0.08);
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #f1f1f1;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.products__section .filter__content input,
.products__section .filter__content select {
  flex: 1;
}

.categories__section {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.categories__section .categories__list a {
  font-size: 14px;
  color: #3f3d56;
  display: block;
  transform: 0.4s ease-in-out;
  padding: 8px 5px;
}
.categories__section .categories__list a:hover {
  background-color: rgba(255, 157, 0, 0.05);
}
.categories__section .categories__list a:not(:last-child) {
  border-bottom: 1px solid #f1f1f1;
}

@media (min-width: 1800px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1650px;
  }
}
@media (max-width: 1199px) {
  .home__content {
    flex-direction: column-reverse;
  }
  .home__content .categories__section {
    margin-top: 20px;
  }

  .ads__banner img {
    width: 100%;
  }

  .swiper-button-next {
    right: 10px;
  }

  .swiper-button-prev {
    left: 10px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 50px;
  }

  .home__slider-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 767px) {
  header .right-header .notifications-settings .notifications-settings-list {
    top: 80px;
    width: 300px;
    right: 50%;
    transform: translateX(50%);
  }

  .home__slider-pagination .swiper-pagination-bullet,
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
@media (max-width: 500px) {
  body {
    margin-top: 60px;
  }

  .section__head,
  .section__head-sm {
    font-size: 20px;
  }

  .section__head-sm {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .py-5 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  .products__section .filter__content {
    margin-bottom: 20px;
  }

  input,
  select {
    height: 40px;
    font-size: 14px;
  }

  header .left-header .logo img {
    width: 50px;
  }

  header .right-header .user-settings .user-icon img {
    width: 45px;
    height: 45px;
  }

  .button,
  .button-primary-blue,
  .button-secondary-blue {
    padding: 4px 7px;
    font-size: 13px;
  }

  .nav-links {
    display: none;
  }

  .notifications-settings-list .notifications {
    height: 200px !important;
  }

  .notifications-head {
    font-size: 14px;
    margin-bottom: 3px;
  }

  .notification-link,
  .user-settings-link {
    font-size: 12px !important;
    margin-bottom: 3px;
  }

  .user-settings-link i {
    font-size: 15px !important;
  }

  .swiper__container {
    padding: 5px 10px;
  }

  .swiper__navigation .prev,
  .swiper__navigation .next {
    font-size: 10px;
    padding: 3px 7px;
  }

  .swiper__pagination {
    margin-top: 10px;
    margin-bottom: 8px;
  }
  .swiper__pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }

  .card__product .add__to__fav {
    font-size: 16px;
  }
  .card__product .product__info {
    bottom: 0;
    height: initial;
  }
  .card__product .product__info .main__info .title__category .title {
    font-size: 14px;
  }
  .card__product .product__info .main__info .title__category .category {
    font-size: 11px;
  }
  .card__product .product__info .main__info .price {
    font-size: 12px;
  }
  .card__product .product__info .main__info .price .currency {
    font-size: 8px;
  }
  .card__product .product__info .date__location {
    font-size: 12px;
  }

  .categories__section .categories__list a {
    font-size: 12px;
  }
}
@media (max-width: 380px) {
  header {
    height: 60px;
  }
  header .header__content {
    height: 60px;
  }
  header .left-header {
    gap: 0 10px;
  }
  header .left-header .logo img {
    width: 50px;
  }
  header .right-header .lang .lang_trigger_icon img {
    width: 24px;
  }
  header .right-header .user-settings .user-icon img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
  header .right-header .user-settings .user-settings-list {
    top: 60px;
    width: 250px;
    padding: 5px;
  }
  header .right-header .user-settings .user-settings-list .user-settings-link {
    padding: 3px;
    gap: 5px;
    transition: 0.4s ease-in-out;
    font-size: 13px;
  }
  header
    .right-header
    .user-settings
    .user-settings-list
    .user-settings-link:not(:last-child) {
    margin-bottom: 5px;
  }
  header
    .right-header
    .user-settings
    .user-settings-list
    .user-settings-link
    img,
  header
    .right-header
    .user-settings
    .user-settings-list
    .user-settings-link
    i {
    width: 35px;
    height: 35px;
    font-size: 15px;
  }
  header .right-header .notifications-settings {
    position: initial;
  }
  header .right-header .notifications-settings .notifications-settings-list {
    top: 70px;
    right: 20px;
  }
}

header {
  background-color: #ffffff;
  height: 80px;
  padding: 0 10px;
  box-shadow: 0 0 6px 0 rgba(34, 34, 34, 0.09);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 4;
}
header .header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
header .left-header {
  display: flex;
  align-items: center;
  gap: 0 30px;
}
header .left-header .logo {
  display: block;
}
header .left-header .logo img {
  width: 65px;
}
header .right-header {
  display: flex;
  align-items: center;
  gap: 0 30px;
}
header .right-header .notifications-settings {
  position: relative;
  height: 55px;
  display: flex;
  align-items: center;
}
header .right-header .notifications-settings .notification-icon {
  cursor: pointer;
  position: relative;
  top: 3px;
}
header .right-header .notifications-settings .notification-icon .badge {
  position: absolute;
  top: -8px;
  left: -9px;
  font-size: 0.65em;
  padding: 0.25em 0.45em;
}
header .right-header .notifications-settings .notifications-settings-list {
  position: absolute;
  right: 0;
  top: 80px;
  background-color: #ffffff;
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  display: none;
  box-shadow: 0 0 6px rgba(34, 34, 34, 0.2);
}
header
  .right-header
  .notifications-settings
  .notifications-settings-list
  .notifications-head {
  color: #3f3d56;
  font-weight: bold;
}
header
  .right-header
  .notifications-settings
  .notifications-settings-list
  .notifications {
  overflow-y: scroll;
  height: 300px;
}
header
  .right-header
  .notifications-settings
  .notifications-settings-list
  .notifications::-webkit-scrollbar {
  display: none;
}
header
  .right-header
  .notifications-settings
  .notifications-settings-list
  .notification-link {
  display: block;
  color: #3f3d56;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.4s ease-in-out;
  font-size: 15px;
}
header
  .right-header
  .notifications-settings
  .notifications-settings-list
  .notification-link:not(:last-child) {
  margin-bottom: 5px;
}
header
  .right-header
  .notifications-settings
  .notifications-settings-list
  .notification-link:hover {
  background-color: rgba(255, 157, 0, 0.05);
}
header .right-header .lang .lang_trigger_icon {
  cursor: pointer;
}
header .right-header .lang .lang_trigger_icon img {
  width: 30px;
  object-fit: cover;
}
header .right-header .user-settings {
  position: relative;
}
header .right-header .user-settings .user-icon {
  cursor: pointer;
}
header .right-header .user-settings .user-icon img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
}
header .right-header .user-settings .user-settings-list {
  position: absolute;
  right: 0;
  top: 80px;
  background-color: #ffffff;
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  display: none;
  box-shadow: 0 0 6px rgba(34, 34, 34, 0.2);
}
header .right-header .user-settings .user-settings-list .user-settings-link {
  display: block;
  color: #3f3d56;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.4s ease-in-out;
  font-size: 15px;
}
header
  .right-header
  .user-settings
  .user-settings-list
  .user-settings-link:not(:last-child) {
  margin-bottom: 5px;
}
header
  .right-header
  .user-settings
  .user-settings-list
  .user-settings-link:hover {
  background-color: rgba(255, 157, 0, 0.05);
}
header .right-header .user-settings .user-settings-list .user-settings-link img,
header .right-header .user-settings .user-settings-list .user-settings-link i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #ff9d00;
}

.model-prop {
  font-size: 25px;
  color: #3f3d56;
}

.main-img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.main-img.first-img {
  display: block;
}

.addDetails-img {
  text-align: center;
  border: 2px solid #f1f1f1;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .right-section {
    margin-top: 10px;
  }
}
.desc-of-items {
  background-color: #ffffff;
  padding: 10px 12px;
  font-size: 22px;
  object-fit: contain;
  margin-top: 9px;
  border-radius: 6px;
  box-shadow: 0 0 6px 0 rgba(34, 34, 34, 0.2);
  margin-bottom: 16px;
}

.left-star {
  text-transform: capitalize;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
}
.left-star span {
  display: block;
  cursor: pointer;
}
.left-star i {
  cursor: pointer;
}

.right-report {
  text-transform: capitalize;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
}
.right-report span {
  display: block;
  cursor: pointer;
}
.right-report i {
  cursor: pointer;
}

.desc-of-items .add_to_favourit {
  text-transform: capitalize;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
}
.desc-of-items .add_to_favourit span {
  display: block;
  cursor: pointer;
}
.desc-of-items .add_to_favourit i {
  cursor: pointer;
}

.desc-of-items .left-star:hover {
  background-color: rgba(255, 157, 0, 0.05);
}

.desc-of-items .right-report:hover {
  background-color: rgba(255, 157, 0, 0.05);
}

.desc-of-items .add_to_favourit:hover {
  background-color: rgba(255, 157, 0, 0.05);
}

.triangle {
  background-color: #ffffff;
  padding: 7px 10px;
  box-shadow: 0 0 6px 0 rgba(34, 34, 34, 0.1);
  border-radius: 5px;
  font-size: 30px;
}
.triangle .dollar__sign {
  font-size: 20px;
  color: #3f3d56;
}

.product-info {
  border: 1px solid #f1f1f1;
  margin-top: 5px;
  border-radius: 6px;
}

.product-info ul {
  list-style: none;
}
.product-info ul li {
  padding: 10px 12px;
  display: flex;
  justify-content: space-between;
}

.product-info ul li {
  border-bottom: 1px solid #f1f1f1;
}

.product-info ul li:last-of-type {
  border-bottom: 0;
}

.product-desc {
  font-size: 15px;
  line-height: 1.4;
  padding: 15px 12px;
  border: 1px solid #f1f1f1;
  margin-top: 9px;
  border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 12px;
}

.product_description {
  color: #ff9d00;
  font-size: 14px;
}

.send-message,
.calling {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  background-color: #ff9d00;
  color: white;
  font-weight: bold;
  outline: 0;
  border: none;
  width: 100%;
}
.send-message .text,
.calling .text {
  padding-left: 4px;
}

.main-content a {
  margin-bottom: 10px;
}

.another-addOfUser {
  padding-top: 10px;
  border: 1px solid #f1f1f1;
}

.user-item-1 {
  border-bottom: 1px solid;
  box-shadow: 0 0 4px #eee;
}

.user-item-1 img {
  width: 100%;
  height: auto !important;
  object-fit: cover;
}

.user-item-1 p {
  text-align: center;
  padding: 4px 3px;
  line-height: 1.4;
}

h2.title_related {
  padding-top: 25px;
  font-weight: bold;
  color: #3f3d56;
  font-size: 25px;
}

.related-card-1:hover img {
  transform: scale(1.1);
  transition: scale 0.4s ease;
}

.related-card-1:hover .card {
  border-bottom: 2px solid #3f3d56;
  transition: border 0.2s ease-in-out;
}

.important-tips {
  max-width: 400px;
  padding: 11px;
  margin-top: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 6px 0 rgba(34, 34, 34, 0.1);
  border-radius: 5px;
}
.important-tips li {
  font-size: 14px;
}

.swiper.last-one {
  width: 100%;
  border: 2px solid #f1f1f1;
  padding: 4px;
  border-radius: 4px;
}

.another-product_title {
  color: #3f3d56;
  font-size: 25px;
  margin-top: 15px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide.last img {
  width: 200px;
  height: 200px;
  margin: auto;
  object-fit: cover;
}

@media (max-width: 992px) {
  .swiper-slide.last {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 768px) {
  .swiper-slide.last {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.form-content {
  background-color: #ffffff;
  padding: 30px 20px;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  text-transform: capitalize;
}

.add_attachment {
  padding-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.btn__send {
  margin-top: 6px;
  background-color: #3f3d56;
  display: block;
  width: 100px;
  height: 48px;
  color: white;
  padding: 4px;
  font-size: 19px;
  border-radius: 6px;
  border: 0;
  outline: none;
}

.product__desc .product_description {
  font-weight: bold;
  color: #3f3d56;
  font-size: 25px;
  padding-top: 10px;
}

.contact_title {
  padding-top: 12px;
  color: #3f3d56;
  font-size: 27px;
}

.map__img {
  position: relative;
  text-align: center;
}
.map__img img {
  width: 100%;
  height: 90px;
  object-fit: cover;
}

.map__img .map__description {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 5px;
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
}
.map__img .map__description p {
  margin: 0;
}
.map__img .map__description i {
  display: block;
  z-index: 4;
  font-size: 30px;
  margin-right: 5px;
}

.map__description > div {
  text-align: left;
}

.user__details {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 6px;
}
.user__details img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.user__details h5 {
  margin-top: 7px;
}

.user__details + p {
  margin-top: -10px;
  color: #777;
  font-size: 13px;
}

footer {
  background-color: #3f3d56;
  color: #ffffff;
  text-align: center;
  margin-top: 40px;
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
}
footer .logo img {
  width: 80px;
  text-align: center;
}
footer .top__links {
  padding: 120px 10px 0;
}
footer .top__links .links ul a {
  display: block;
  color: #ffffff;
  text-align: left;
  font-size: 15px;
}
footer .top__links .links .store__icon {
  display: block;
}
footer .top__links .links .store__icon img {
  max-width: 150px;
}
footer .top__links .links .store__icon:not(:last-child) {
  margin-bottom: 5px;
}
footer .bottom__bg img {
  width: 100%;
}

header .user-settings .user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.section {
  margin-top: 130px;
  margin-bottom: 70px;
}
